<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dbapp.ahcloud.adapter.dao.AddressObjectMapper" >
  <resultMap id="BaseResultMap" type="com.dbapp.ahcloud.adapter.model.AddressObject" >
    
    <!-- 主键 -->
    <id column="id" property="id" jdbcType="BIGINT" />
    
    <!-- IP对象id -->
    <result column="ip_object_id" property="ipObjectId" jdbcType="VARCHAR" />
    
    <!-- 对象名称 -->
    <result column="name" property="name" jdbcType="VARCHAR" />
    
    <!-- 对象描述 -->
    <result column="description" property="description" jdbcType="VARCHAR" />
    
    <!-- 租户id -->
    <result column="tenant_id" property="tenantId" jdbcType="VARCHAR" />
    
    <!-- 是否删除，0：未删除，1：已删除 -->
    <result column="is_deleted" property="isDeleted" jdbcType="BIT" />
    
    <!-- 创建时间 -->
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    
    <!-- 修改时间 -->
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.dbapp.ahcloud.adapter.model.AddressObject" extends="BaseResultMap" >
    
    <!-- type-防护对象地址类型：network, range, host
address-防护对象的具体值 -->
    <result column="object_list" property="objectList" jdbcType="LONGVARCHAR" />
    
    <!-- type-除外防护对象地址类型：network, range, host
address-除外防护对象的具体值 -->
    <result column="except_object_list" property="exceptObjectList" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Sep 17 10:43:17 CST 2021.
    -->
    id, ip_object_id, name, description, tenant_id, is_deleted, gmt_create, gmt_modified
  </sql>
  <sql id="Blob_Column_List" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Sep 17 10:43:17 CST 2021.
    -->
    object_list, except_object_list
  </sql>

  <!-- Your codes goes here!!! -->
  
</mapper>