<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dbapp.ahcloud.adapter.dao.IdsPolicyMapper" >
  <resultMap id="BaseResultMap" type="com.dbapp.ahcloud.adapter.model.IdsPolicy" >
    
    <!-- 主键 -->
    <id column="id" property="id" jdbcType="BIGINT" />
    
    <!-- IDS策略id -->
    <result column="ids_policy_id" property="idsPolicyId" jdbcType="VARCHAR" />
    
    <!-- 租户id -->
    <result column="tenant_id" property="tenantId" jdbcType="VARCHAR" />
    
    <!-- 引用安全策略ID（列表），每个IPS策略对应至少一个安全策略 -->
    <result column="security_policy_ids" property="securityPolicyIds" jdbcType="VARCHAR" />
    
    <!-- IDS策略模板id（1：低级防护模板，2：中级防护模板，3：高级防护模板） -->
    <result column="ids_policy_template_id" property="idsPolicyTemplateId" jdbcType="VARCHAR" />
    
    <!-- IDS策略模板名称 -->
    <result column="ids_policy_template_name" property="idsPolicyTemplateName" jdbcType="VARCHAR" />
    
    <!-- 是否启用，0:不启用，1:启用 -->
    <result column="enable" property="enable" jdbcType="VARCHAR" />
    
    <!-- 是否开启日志记录，0:不启用，1:启用 -->
    <result column="logging" property="logging" jdbcType="VARCHAR" />
    
    <!-- 策略名称 -->
    <result column="name" property="name" jdbcType="VARCHAR" />
    
    <!-- 策略描述 -->
    <result column="description" property="description" jdbcType="VARCHAR" />
    
    <!-- 是否删除，0：未删除，1：已删除 -->
    <result column="is_deleted" property="isDeleted" jdbcType="BIT" />
    
    <!-- 创建时间 -->
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    
    <!-- 修改时间 -->
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Sep 17 11:15:26 CST 2021.
    -->
    id, ids_policy_id, tenant_id, security_policy_ids, ids_policy_template_id, ids_policy_template_name, 
    enable, logging, name, description, is_deleted, gmt_create, gmt_modified
  </sql>

  <!-- Your codes goes here!!! -->
  
</mapper>