<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dbapp.ahcloud.adapter.dao.IdsPolicyMapper">
  <resultMap id="BaseResultMap" type="com.dbapp.ahcloud.adapter.model.IdsPolicy">
    
    <!-- 主键 -->
    <id column="id" jdbcType="BIGINT" property="id" />
    
    <!-- IDS策略id -->
    <result column="ids_policy_id" jdbcType="VARCHAR" property="idsPolicyId" />
    
    <!-- 租户id -->
    <result column="tenant_id" jdbcType="VARCHAR" property="tenantId" />
    
    <!-- 引用安全策略ID（列表），每个IPS策略对应至少一个安全策略 -->
    <result column="security_policy_ids" jdbcType="VARCHAR" property="securityPolicyIds" />
    
    <!-- IDS策略模板id（1：低级防护模板，2：中级防护模板，3：高级防护模板） -->
    <result column="ids_policy_template_id" jdbcType="VARCHAR" property="idsPolicyTemplateId" />
    
    <!-- IDS策略模板名称 -->
    <result column="ids_policy_template_name" jdbcType="VARCHAR" property="idsPolicyTemplateName" />
    
    <!-- 是否启用，0:不启用，1:启用 -->
    <result column="enable" jdbcType="BIT" property="enable" />
    
    <!-- 是否开启日志记录，0:不启用，1:启用 -->
    <result column="logging" jdbcType="BIT" property="logging" />
    
    <!-- 策略名称 -->
    <result column="name" jdbcType="VARCHAR" property="name" />
    
    <!-- 策略描述 -->
    <result column="description" jdbcType="VARCHAR" property="description" />
    
    <!-- 是否删除，0：未删除，1：已删除 -->
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
    
    <!-- 创建时间 -->
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    
    <!-- 修改时间 -->
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.dbapp.ahcloud.adapter.model.IdsPolicy">

    <!-- 引用安全策略ID（列表），每个IDS策略对应至少一个安全策略 -->
    <result column="security_policy_ids" jdbcType="LONGVARCHAR" property="securityPolicyIds" />

    <!-- 添加成功至APT ip检测集合 -->
    <result column="apt_ip_audit_ids" jdbcType="LONGVARCHAR" property="aptIpAuditIds" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Sep 24 15:04:44 CST 2021.
    -->
    id, ids_policy_id, tenant_id, ids_policy_template_id, ids_policy_template_name, enable,
    logging, name, description, is_deleted, gmt_create, gmt_modified
  </sql>
  <sql id="Blob_Column_List">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Fri Sep 24 15:04:44 CST 2021.
    -->
    security_policy_ids, apt_ip_audit_ids
  </sql>

  <!-- Your codes goes here!!! -->
  
</mapper>