<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dbapp.ahcloud.adapter.dao.SecurityPolicyMapper" >
  <resultMap id="BaseResultMap" type="com.dbapp.ahcloud.adapter.model.SecurityPolicy" >
    
    <!-- 主键id -->
    <id column="id" property="id" jdbcType="BIGINT" />
    
    <!-- 安全策略id -->
    <result column="security_policy_id" property="securityPolicyId" jdbcType="VARCHAR" />
    
    <!-- 租户id -->
    <result column="tenant_id" property="tenantId" jdbcType="VARCHAR" />
    
    <!-- 策略名称 -->
    <result column="name" property="name" jdbcType="VARCHAR" />
    
    <!-- 策略描述 -->
    <result column="description" property="description" jdbcType="VARCHAR" />
    
    <!-- 策略优先级，1为最高 -->
    <result column="priority" property="priority" jdbcType="BIT" />
    
    <!-- 源区域 -->
    <result column="src_zone" property="srcZone" jdbcType="VARCHAR" />
    
    <!-- 目的区域 -->
    <result column="dst_zone" property="dstZone" jdbcType="VARCHAR" />
    
    <!-- 协议类型，0: ipv4, 1: ipv6 -->
    <result column="protocol" property="protocol" jdbcType="BIT" />
    
    <!-- 源地址对象，支持ip_object_id或ip_group_object_id，上限为1000个 -->
    <result column="src_address" property="srcAddress" jdbcType="VARCHAR" />
    
    <!-- 目的地址，支持ip_object_id或ip_group_object_id，上限为1000个 -->
    <result column="dst_address" property="dstAddress" jdbcType="VARCHAR" />
    
    <!-- 服务对象，service_object_id或service_group_object_id -->
    <result column="service_items" property="serviceItems" jdbcType="VARCHAR" />
    
    <!-- 时间对象，time_object_id，默认为[”any”] -->
    <result column="time_items" property="timeItems" jdbcType="VARCHAR" />
    
    <!-- 应用对象，app_object_id -->
    <result column="app_items" property="appItems" jdbcType="VARCHAR" />
    
    <!-- URL对象，url_object_id -->
    <result column="url_items" property="urlItems" jdbcType="VARCHAR" />
    
    <!-- 动作，0:deny,1:allow -->
    <result column="action" property="action" jdbcType="BIT" />
    
    <!-- 是否开启日志记录，0:不启用，1:启用 -->
    <result column="logging" property="logging" jdbcType="BIT" />
    
    <!-- 是否启用，0:不启用，1:启用 -->
    <result column="enable" property="enable" jdbcType="BIT" />
    
    <!-- 是否删除，0：未删除，1：已删除 -->
    <result column="is_deleted" property="isDeleted" jdbcType="BIT" />
    
    <!-- 创建时间 -->
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    
    <!-- 修改时间 -->
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Sep 15 18:23:41 CST 2021.
    -->
    id, security_policy_id, tenant_id, name, description, priority, src_zone, dst_zone, 
    protocol, src_address, dst_address, service_items, time_items, app_items, url_items, 
    action, logging, enable, is_deleted, gmt_create, gmt_modified
  </sql>

  <!-- Your codes goes here!!! -->
  
</mapper>